.navbar-default{
  background-color:#0e1111;
}
.nav-link{
  color: white;
  font-family: 'Walter Turncoat', cursive;
  font-size:20px;
}
.nav-link:hover{
  color: #2b91ff;
  -webkit-transition: color 1s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s;
}
.navbar-brand{
  color:white;
}
.navbar-brand:hover{
  color:white;
}
#send-message{
  resize: none;

}

#Logo-Title{
  font-family: 'Londrina Shadow', cursive;
  font-size: 35px;

}
#Home-Title{
  font-family: 'Londrina Shadow';
  font-weight: bold;
  font-size:40px;
}
body{
  background-color: #EEF6FE;
}
